<a href="/HotelManager">Zpět do administrace</a><br><br>


<form action="" method="post">
    {% csrf_token %}

    {% if error %}
        {{ error }}
        <br>
    {% endif %}

    Username:
    <input type="text" placeholder="Uživatelské jméno" name="username" required>
{#    AccountType:#}
    <input value="visitor" type="hidden" placeholder="Typ" name="type" required>

    <input type="submit" value="Přidat uživatele">
</form>



