{% extends 'HotelManager/BaseTemplate.html' %}

{% block body %}

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- FEATURE -->
  <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                        <h1>Souhrn</h1>
                    </div>

               </div>
          </div>
		  <div class="container">
          <p><a href="addUser" style="color: green">PŘIDAT UŽIVATELE</a></p>

          <p>Seznam úkolů:</p>
              {% for neco in buzeni %}
                  {% if neco.time != "" %}
                    {{ neco.user }} --- {{ neco.time }} -- {{ neco.date }} -- BUZENÍ <br>
                  {% endif %}
              {% endfor %}

          </div>
            <p>Seznam uživatelů: </p>

            {% for afd in users %}
                {{ afd }}<br>
            {% endfor %}

     </section>
     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2018 Company Name - Design:
                				<a rel="nofollow" href="http://tooplate.com">Tooplate</a></p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


{% endblock body %}