{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

	<title>Náš hotel - login</title>
	<!--

    Template 2106 Soft Landing

	http://www.tooplate.com/view/2106-soft-landing

    -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'HotelManager/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'HotelManager/css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'HotelManager/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="{% static 'HotelManager/css/font-awesome.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'HotelManager/css/tooplate-style.css' %}">

</head>
<body>
     <script src="{% static 'HotelManager/js/jquery.js' %}"></script>
     <script src="{% static 'HotelManager/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'HotelManager/js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'HotelManager/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'HotelManager/js/smoothscroll.js' %}"></script>
     <script src="{% static 'HotelManager/js/custom.js' %}"></script>

     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->

               </div>
              <div id = "menulink"><a href="/HotelManager/login">Domů</a></div>
              <div id = "menulink"><a href="/HotelManager/lbuzeni" class="navbar-brand2">Buzení po telefonu</a></div>
             <div id = "menulink"><a href="/HotelManager/lmasaze" class="navbar-brand2">Masáže</a></div>
         <div id = "menulink"><a href="/HotelManager/lsnidane" class="navbar-brand2">Snídaně</a></div>

         <div id = "menulink"><a href="/HotelManager/logout">Logout</a></div>
               <!-- MENU LINKS -->

          </div>
     </section>
    {% block body %}
{% endblock body %}
</body>

</html>