{% extends 'HotelManager/BaseTemplate.html' %}

{% block body %}

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
        {% block menu %}{% endblock %}


     <!-- FEATURE -->
  <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                        <h1>Buzení po telefonu</h1>
                    </div>

               </div>
          </div>
		  <div class="container">
               <form action="" method="post">
                        <table>
                            <tr>
                                <th>Datum</th><th>Čas</th>
                            </tr>
                            {% for day in buzeni %}
                                <tr><td>{{ day.date }}</td>

                                <td>
                                    <input type="time" name="{{ day.id }}-deliveryTime" min="9:00" max="18:00" value="{{ day.time }}" />
                                </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="submit" value="Send">
                    </form>
          </div>
     </section> 
     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2018 Company Name - Design:
                				<a rel="nofollow" href="http://tooplate.com">Tooplate</a></p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


{% endblock body %}