{% extends 'HotelManager/BaseTemplate.html' %}

{% block body %}



     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- MENU -->
     {% block menu %}{% endblock %}


     <!-- FEATURE -->
  <section id="contact" data-stellar-background-ratio="0.5">
      {% if error != "" %}
          {{ error }}
      {% endif %}
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                             {% csrf_token %}
                              <div class="section-title">
                                   <h1>Login</h1>
                              </div>


                              <div class="col-md-4 col-sm-4">
                                   <input type="text" class="form-control" placeholder="Číslo pokoje" name="username" required="">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="password" class="form-control" placeholder="Heslo" name="password" required="">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="submit" class="form-control" name="login" value="Login">
                              </div>
                         </form>
                    </div>

               </div>
          </div>
     </section>
     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2018 Company Name - Design:
                				<a rel="nofollow" href="http://tooplate.com">Tooplate</a></p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

{% endblock body %}