{% extends 'HotelManager/BaseTemplate.html' %}

{% block body %}

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
 {% block menu %}{% endblock %}


     <!-- FEATURE -->
  <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                        <h1>Masáže</h1>
                    </div>

               </div>
          </div>
		  <div class="container">
               <div id = "tabulka">
					<h2>Objednat masáž</h2>
					<table>
					<tr>	
						<th></th>
						<th><h4>Pondělí</h4></th>
						<th><h4>Úterý</h4></th>
						<th><h4>Středa</h4></th>
						<th><h4>Čtvrtek</h4></th>
						<th><h4>Pátek</h4></th>
						<th><h4>Sobota</h4></th>
						<th><h4>Neděle</h4></th>
						
					</tr>
					<tr>
						<td><h4>13:00 - 14:00</h4></td>
						<td>    
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-11" id="checkbox-11">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-12" id="checkbox-12">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-13" id="checkbox-13">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-14" id="checkbox-14">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-15" id="checkbox-15">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-16" id="checkbox-16">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-17" id="checkbox-17">
						</td>
					</tr>
					<tr>
						<td><h4>14:00 - 15:00</h4></td>
						<td>    
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-21" id="checkbox-21">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-22" id="checkbox-22">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-23" id="checkbox-23">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-24" id="checkbox-24">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-25" id="checkbox-25">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-26" id="checkbox-26">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-27" id="checkbox-27">
						</td>
					</tr>
					<tr>
						<td><h4>14:00 - 15:00</h4></td>
						<td>    
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-31" id="checkbox-31">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-32" id="checkbox-32">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-33" id="checkbox-33">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-34" id="checkbox-34">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-35" id="checkbox-35">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-36" id="checkbox-36">
						</td>
						<td>
							<label for="checkbox-1"></label>
							<input type="checkbox" name="checkbox-37" id="checkbox-37">
						</td>
					</tr>
					</table>
			   </div>
          </div>
     </section> 
     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2018 Company Name - Design:
                				<a rel="nofollow" href="http://tooplate.com">Tooplate</a></p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


{% endblock body %}