{% extends 'HotelManager/BaseTemplate.html' %}

{% block body %}

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>



     <!-- FEATURE -->
  <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                    </div>

               </div>
          </div>
		  <div class="container">
              
					<section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="section-title">
                              <h1>Naše služby</h1>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb"><a href = "{% url "snidane" %}">
                              <img src="static/HotelManager/images/ikona1.png" class="img-responsive" alt="Snídaně">
                              <div class="team-info team-thumb-up">
                                   <h2>Snídaně</h2>
                                   
                                   
                              </div></a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb"><a href = "{% url "masaze" %}">
                              <div class="team-info team-thumb-down">
                                   <h2>Masáže</h2>
                                   
                              </div>
                              <img src="static/HotelManager/images/ikona2.png" class="img-responsive" alt="Masáže"></a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb"><a href = "{% url "buzeni" %}">
                              <img src="static/HotelManager/images/ikona3.png" class="img-responsive" alt="Buzení po telefonu">
                              <div class="team-info team-thumb-up">
                                   <h2>Buzení po telefonu</h2>
                                   
                              </div></a>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>
					
			   
          </div>
     </section> 
     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2018 Company Name - Design:
                				<a rel="nofollow" href="http://tooplate.com">Tooplate</a></p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


{% endblock body %}